* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.wrapper {
     background-image: none;
     padding-top: 20px;
}

.wrapper.theme-light {
     min-height: 100vh;
     height: auto;
     background-color: #eee;
}
.wrapper.theme-dark {
     min-height: 100vh;
     height: auto;
     background-color: #0e1621;
     background-image: none;
}
