* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.wrapper {
     background-image: none;
}

.wrapper.theme-light {
     background-color: #eee;
}
.wrapper.theme-dark {
     background-color: #0e1621;
     background-image: none;
}
