* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.wrapper {
     background-image: none;
     padding-top: 20px;
}

.wrapper.theme-light {
     height: 100vh;
     background-color: #eee;
}
.wrapper.theme-dark {
     height: 100vh;
     background-color: #0e1621;
     background-image: none;
}
